{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
         "browsers": "> 1%",
         "esmodules": true
      },
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3,
      "forceAllTransforms": true,
      "exclude": ['transform-typeof-symbol']
    }],
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/transform-arrow-functions",
    "@babel/plugin-transform-destructuring",
    [
      "@babel/transform-runtime",
      {
          "helpers": false,
          "regenerator": true,
          "corejs": false
      }
    ],
    [
      "@babel/plugin-transform-regenerator",
      {
        "async": false
      }
    ],
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
