%h1 Shares

%ul
  - @shares.each do |share|
    %li{:id => "share-#{share.id}"}
      = link_to share.name, share
      = link_to share, data: {method: "delete", remote: true, confirm: "Really?"} do
        %i.fa.fa-trash



= render template: "shares/new"
