- months_and_days.each do |month,days|
  %h3.month=@month_names[month]
  .groups.open
    - days.each do |day|
      .group
        %h4.toggler{data: {id: day.id}}
          = day.date.strftime("%d.%m.")
          = day.locations
          = image_tag day.montage.url
          = link_to bulk_add_shares_path(date: day.date), class: "btn share_day js-modal", title: "Add images to a Share" do
            %i.fa.fa-share
        .body.unloaded

