%h1 Photos
= render "groups", groups: @groups

.clear
- if @groups.length == 0
  .hint
    Usage:
    %ul
      %li
        Download
        = link_to "Autoshare App", "https://play.google.com/store/apps/details?id=com.dngames.autoshare&feature=search_result"
        for your Android
      %li
        Configuration: "Webserver"
        %ul
          %li Active YES
          %li
            Server Address:
            = photos_url
          %li
            Username:
            = current_user.username
          %li
            Password: ****
      %li
        Upload some photos with Autoshare or configure it for auto-upload for new images

