$img-size: 300px
@mixin onebit-icon($icon)
  width: 48px
  height: 48px
  display: block
  background-image: image-url("onebit/onebit_#{$icon}.png")
  float: left
.clear
  clear: both
h2
  clear: both
  margin-top: 20px
.photo
  background: none repeat scroll 0 0 #EEEEEE
  border: 1px solid #CCCCCC
  border-radius: 10px
  float: left
  height: $img-size
  line-height: $img-size
  width: $img-size
  margin-left: 10px
  padding: 10px
  text-align: center
  vertical-align: middle
  > a > img
    border: 1px solid #666666
    border-radius: 10px 10px 10px 10px
  .wrapper
    position: absolute
  .options
    display: none
    position: relative
    bottom: 50px
    line-height: 48px
  &:hover .options
    display: block
  .share
    +onebit-icon(17)
  .delete
    +onebit-icon(33)
  .download
    +onebit-icon(11)


h2.month
  line-height: 0.9
  color: #666666
  font-size: 25px
  width: 120px
  left: 100px
  position: absolute
  &:before
    clear: both
.container
  width: auto
  padding-left: 125px
.navbar .container
  padding-left: 10px
  width: auto

.row
  margin-left: 0
.toggler
  img
    margin: 0 -2px
.group
  .body
    display: none

form.edit_photo
  .checkbox label
    display: inline
  .fancybox-inner &
    .checkbox input
      margin: 2px

h2.toggler
  .share_day
    +onebit-icon(17)
    display: none
    float: right

  &:hover
    background: #eee
    .share_day
      display: block
