$linkColor: #8013AE
$img-size: 300px
@import bootstrap
@import bootstrap/theme
@import font-awesome

body
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif

h2
  clear: both
  text-decoration: none
  a
    color: #555
    &:hover
      color: #999
h2,h3,h4
  color: #333
h4
  clear: both
  margin-top: 20px

.clear
  clear: both

span.checkbox
  display: block

.fork-me
  z-index: 99999
  img
    z-index: 99999
    position: absolute
    top: 0
    right: 0
    border: 0
.pagination
  clear: both
  display: block
  padding: 20px 0
#loader
  left: 50%
  position: fixed
  top: 50%
  z-index: 99999999

.select2-drop
  z-index: 20000000

.select2-container.form-control
  padding: 0
  border: none

.bootstrap-datetimepicker-widget
  z-index: 100000000 !important



//// V2

.image-info
  margin-right: 10px

.lg-icon .fa
  position: relative
  bottom: 4px

.tag-toggle
  margin-right: 2px
  margin-bottom: 2px

.gallery
  display: flex
  flex-wrap: wrap
  justify-content: space-around
.gallery-box
  width: 300px
  height: 210px
  margin: 5px
.gallery-element
  display: flex
  width: 300px
  height: 200px
  position: relative
  text-align: center
  background: #f4f3f4
  border: 1px solid #ddd
  margin: auto
  .duration
    position: absolute
    bottom: 0
    left: 0
    right: 0
    color: #666
    transition: color 0.3s ease
  &:hover
    .duration
      transition: color 0.3s ease
      color: white
    .play-icon
      color: white
      transition: color 0.3s ease
  .play-icon
    position: absolute
    left: 0
    right: 0
    top: 93px
    bottom: 0
    color: #666
    font-size: 30px
    width: auto
    transition: color 0.3s ease
  img
    max-width: 100%
    max-height: 100%
    margin: auto
  cursor: pointer


.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item
  line-height: 75px
  text-align: center
  max-width: 100px
  width: auto !important
  img
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto
    vertical-align: middle

.lg-outer .lg-has-video .lg-video-object
  text-align: center
.lg-outer .lg-video .lg-object
  max-width: 100% !important
  max-height: 100% !important
  width: auto !important
  height: auto !important
  vertical-align: middle
  margin: 0 auto
  left: 0
  right: 0
