.gallery-element { display: inline-block }
.blueimp-gallery .gallery-controls {
  position: absolute;
  top: 45px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls .gallery-controls {
  display: block;
}
.photo-stats {
  color: #999;
  display: block;
  .mdi {
    margin-left: 10px;
    margin-right: 3px;
  }
  .mdi:first-child {
    margin-left: 0;
  }
}
.blueimp-gallery > .slides > .slide > .video-content > video {
  display: block;
}
body {
  background-color: rgba(22,22,22,0.9);
}
.gallery-container {
  .title, .subtitle {
    color: #999;
  }
  .day {
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero.is-dark .hero-body {
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  .hero.is-gray {
    background: #4b4952;
    .hero-body {
      padding: 1.5rem;
    }
  }
}
.modal {
  z-index: 2000000 !important;
}
.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
  transition: all 0.3s ease-in-out !important;
}

.mdi-fw {
  width: 1.28571em;
  text-align: center;
}

.small-mode {
  .day {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .hero.is-dark .hero-body {
    padding: 0.75rem 1.5rem;
    .subtitle.is-5 {
      font-size: 1rem;
    }
  }
}
.subtitle.is-5 {
  transition: font-size 0.3s ease-in-out;
}

.mdi-spin:before {
	animation: md-spin 1s infinite linear !important;
}
@keyframes md-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

